<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" 
         colors="true">
<!-- <phpunit bootstrap="vendor/autoload.php" colors="true"> -->

    <testsuites>
        <testsuite name="XStrings Test Suite">
            <!-- <directory>tests/</directory> -->
            <!-- <directory>tests/XString/</directory> -->
            <directory>tests/Fixtures/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/XString/</directory>
            <!-- <directory suffix=".php">src/MasTest/</directory> ¿Inutil? -->
        </whitelist>
    </filter>
</phpunit>